li {
    background-color: lightblue;    
}

.indexmenu {
    text-align: center;
    width: 300px;
    margin: 4px;
}

ul.ingredients > li {
    width: 300px;
    margin: 3px;
}

#title {
    background-color: red;
}

.banana {
    background-color: yellow;
}

.blueberry {
    background-color: purple;
}

.meat {
    background-color: brown;
}

h3 {
    color:aqua;
}