li {
    background-color: lightblue;
}

#title {
    background-color: red;
}

.banana {
    background-color: yellow;
}

.blueberry {
    background-color: purple;
}

.meat {
    background-color: brown;
}

h3 {
    color:aqua;
}